{% render 'partials/head.liquid' %}

<header>
  <a href="/">
    <svg width="252" height="46" viewBox="0 0 252 46" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="milledoni-header-logo-big-letters" d="M48.8945 15.0898H55.7628V44.4101H48.8945V15.0898Z" fill="#212121"></path>
      <path class="milledoni-header-logo-big-letters" d="M80.4751 38.5486V44.4101H65.3555V15.0898H72.1391V38.5486H80.4751Z" fill="#212121"></path>
      <path class="milledoni-header-logo-big-letters" d="M103.44 38.5486V44.4101H88.3203V15.0898H95.1039V38.5486H103.44Z" fill="#212121"></path>
      <path class="milledoni-header-logo-big-letters" d="M118.068 20.5343V27.1924H129.167V32.5114H118.068V38.9626H129.167V44.407H111.281V15.0898H129.167V20.5343H118.068Z" fill="#212121"></path>
      <path class="milledoni-header-logo-big-letters" d="M149.267 15.0898C158.983 15.0898 164.512 22.2529 164.512 29.7516C164.512 37.2502 159.027 44.4101 149.267 44.4101H138.504V15.0898H149.267ZM145.287 20.9545V38.5454H148.932C154.42 38.5454 157.603 34.2739 157.603 29.7484C157.603 25.2229 154.42 20.9545 148.932 20.9545H145.287Z" fill="#212121"></path>
      <path class="milledoni-header-logo-big-letters" d="M171.18 29.7542C171.18 21.713 176.96 14.3398 186.72 14.3398C196.479 14.3398 202.215 21.713 202.215 29.7542C202.215 37.7954 196.435 45.1686 186.72 45.1686C177.004 45.1686 171.18 37.7954 171.18 29.7542ZM195.306 29.7542C195.306 24.937 192.039 20.4586 186.72 20.4586C181.401 20.4586 178.133 24.9402 178.133 29.7542C178.133 34.5683 181.357 39.0531 186.72 39.0531C192.082 39.0531 195.306 34.5714 195.306 29.7542Z" fill="#212121"></path>
      <path class="milledoni-header-logo-big-letters" d="M228.031 34.1893V15.0898H234.777V44.4101H227.695L217.139 25.5647V44.4101H210.355V15.0898H217.434L228.031 34.1893Z" fill="#212121"></path>
      <path class="milledoni-header-logo-big-letters" d="M244.375 15.0898H251.243V44.4101H244.375V15.0898Z" fill="#212121"></path>
      <path d="M20.2335 14.9688L20.0191 15.4295L19.8046 14.9688L11.6953 18.8029V44.3973H12.9291V19.5948L20.0191 16.2412L27.1105 19.5948V44.3973H28.3428V18.8029L20.2335 14.9688Z" fill="#D6AE21"></path>
      <path d="M19.3661 15.6621C19.0112 14.0082 16.879 13.4131 14.9989 12.8883C14.3435 12.7052 13.7243 12.5313 13.2064 12.3192C11.0801 11.451 8.66998 10.4669 7.31692 8.10508C6.43502 6.56561 6.43653 4.56994 7.31844 3.02283C8.11426 1.62983 9.45827 0.853227 11.0484 0.940194C13.9644 1.08667 16.3127 3.6255 18.2245 8.70012C18.753 10.1038 19.2498 11.5334 19.6998 12.9478C19.7784 13.1934 19.8992 13.4635 20.023 13.7427C20.2767 14.3149 20.538 14.9084 20.5818 15.4805L19.3646 15.6606L19.3661 15.6621ZM10.8264 2.18062C9.43108 2.18062 8.70019 3.09912 8.38759 3.64686C7.72012 4.81406 7.71861 6.31996 8.38457 7.48105C9.52622 9.47367 11.6328 10.3327 13.67 11.1657C14.1215 11.3503 14.7074 11.5136 15.3281 11.6875C16.3096 11.9606 17.403 12.2673 18.3423 12.7555C17.9481 11.5502 17.5223 10.3388 17.0738 9.14412C15.3553 4.58062 13.3649 2.30421 10.988 2.18368L10.8279 2.1791L10.8264 2.18062Z" fill="#D6AE21"></path>
      <path d="M20.9007 15.6639L19.6836 15.4838C19.7274 14.9101 19.9901 14.3166 20.2438 13.7429C20.3662 13.4653 20.487 13.1967 20.5655 12.9511C21.0216 11.523 21.5184 10.0934 22.0409 8.70341C23.9527 3.62879 26.3009 1.08996 29.2169 0.943485C30.7995 0.861095 32.1526 1.63312 32.9484 3.02918C33.8303 4.57628 33.8303 6.5689 32.9484 8.10837C31.5923 10.4733 29.1837 11.4559 27.059 12.3225C26.541 12.5346 25.9219 12.707 25.2665 12.89C23.3864 13.4164 21.2541 14.0115 20.8977 15.6654L20.9007 15.6639ZM29.4389 2.18239L29.2789 2.18697C26.9034 2.30597 24.9131 4.58391 23.1946 9.1474C22.7491 10.3299 22.3233 11.5428 21.9261 12.7573C22.8654 12.2691 23.9587 11.9624 24.9403 11.6893C25.561 11.5154 26.1469 11.3521 26.5984 11.1675C28.634 10.336 30.7391 9.47696 31.8823 7.48282C32.5482 6.32325 32.5482 4.81735 31.8808 3.65015C31.5697 3.10089 30.8358 2.18239 29.4389 2.18239Z" fill="#D6AE21"></path>
      <path d="M33.0708 14.5781L27.7895 18.7909L26.7418 19.6325L20.0252 24.9881L13.2322 19.599L12.1749 18.7574L6.9079 14.5781H0V43.9671H6.9366V23.5153L10.9455 26.504L12.1988 27.4364L18.3605 32.0269H21.6948L27.7177 27.5368L28.9663 26.6092L33.1187 23.5153V43.9671H40.0505V14.5781H33.0708Z" fill="#212121"></path>
    </svg>
  </a>
</header>


<section class="opgeslagen-grid">
  {% for product in likedProducts %}
    <article class="opgeslagen-product">
      <img class="strikje-twee" src="/assets/strikje.svg" alt="strikje">

      <img src="{{ product.milledoni_products_id.image }}" alt="{{ product.milledoni_products_id.name }}">
      <h2>{{ product.milledoni_products_id.name }}</h2>
      <p>{{ product.milledoni_products_id.amount }}</p>
      <form method="post" action="verwijder" class="like-form">
        <button type="submit" class="lijst-button" value="{{ product.milledoni_products_id.id }}" name="id">
          <img class="lijstjemin" src="/assets/minnetje.png" alt="lijst">
        </button>
      </form>
    </article>
  {% endfor %}
</section>

{% render 'partials/footer.liquid' %}
